@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    button{
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
        padding: .6rem;
        margin: .5rem;
        border-radius: 5px;
    }

    .primary{background-color:  #1fb6ff;}
    .secondary{background-color:  #7e5bef;}
    
    .s{
      width: 5rem;
    }
    .m{
      width: auto;
      padding: .8rem;
    }
    .l{
      width: auto;
      padding: 1rem;
    }

    button:disabled{
      cursor:default;
    }
}